<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div id="user-image"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ8uI0Q_YgxvUHBOeYjEv3lBq-Y65oRpk4f20uiONRBM0Q6ZEi1"></div>
