<div class="individual-post-listing">
	<h4><%= link_to "#{chain.post.title}", category_post_path(chain.post.category, chain.post) %></h4>
    <p><%= link_to "#{chain.messages.last.subject}", category_post_chain_path(chain.post.category, chain.post, chain), class: "chain-show" %></p>
		<p id="post-date"><%= chain.messages.last.created_at %></p>
    <p><span class="post-options"><i class="fa fa-reply" ></i></span><%= link_to 'Reply', new_category_post_chain_message_path(chain.post.category, chain.post, chain), class: "message-reply", id: chain.id %></p>
</div>
