// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CATEGORIES INDEX

#categories-index-container {
	height: 100px;
	width: 60%;
	margin: auto;
	margin-top: 2%;
	vertical-align: middle;
  text-align: center;
}

.categories-links {
	width: 20%;
	margin: 2%;
	height: 150px;
	display: inline-block;
	font-size: 1em;
	vertical-align: middle;
	border: 3px solid #66CBFF;
	border-radius: 10px;
	padding: 3%;
	color: #CD0809;
}

#categories-index-container a {
	height: 40px;
}

#categories-index-container a:hover {
	border-color: black;
}

.category-icon {
	color: #CD0809;
	margin-bottom: 5%;
}


.categories-links span{
	align-self: center;
}

.headings{
	text-align: center;
	background-color: #66CBFF;
	padding: 20px;
	margin-bottom: 20px;
}

.headings h3{
	font-family: 'Indie Flower', cursive;
	color: white;
	margin-top: -10px;
}

// CATEGORIES SHOW

h2 {
	margin-top: 0;
}

.column-left {
	margin-top: 0;
	margin-left: 5%;
	width: 55%;
	float: left;
	text-align: center;
}

li.tab a {
	border: 1px solid #66CBFF;
}

li.active a{
	border: 1px solid #337ab7;
}

.column-right {
	width: 30%;
	margin-right: 5%;
	float: right;
	text-align: center;
}

#category-show-container {
	text-align: center;
	margin: 0% 5%;
}

#posts-index-container {
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 700px;
}

.form-new-post {
	padding: 0 5%;
}

#services-wanted {
	display: none;
}

ul.nav.nav-pills.post-tabs{
}

form .service-type {
	width: 25%;
	text-align: left;
}

form .service-type input{
	height: 15px;
}

.form-new-post textarea {
	height: 100px;
}

.form-new-post button {
	background-color: #66CBFF;
	margin-left: 50%;
}

#new-post-button {
	margin: 1%;
	background-color: #CD0809;
	border: none;
}

div#new-post-button.btn.btn-info a{
	color: white;
}

.services > div:first-child {
	margin-top: 1%;
}

.services > div:last-child {
	margin-bottom: 2%;
}

.individual-post-listing {
	background-color: white;
	padding: 1%;
	margin-top: 2%;
	box-shadow: 2px 2px 10px #888888;
}

#individual-post-listing p{
	line-height: 1em;
}

#post-date{
	font-size: 15px;
}

#categories-orgs-index h2{
	margin-top: 6%;
	margin-bottom: 10%;
}

#orgs-index-container {
	margin: auto;
	margin-bottom: 30px;
	width: 70%;
	border-bottom: solid 1px gray;
}

div#orgs-index-container h4{
	line-height: 1em;
}

div#orgs-index-container p{
	line-height: 0.7em;
}

p.edit-delete.category-show-page{
	display: inline-block;
	width: 30%;
}

#post-search-results {
	display: none;
	width: 50%;
	margin-left: 25%;
  position: absolute;
  opacity: 1;
  z-index:1002;
  background-color: #F7F7F7;
	-webkit-box-shadow: 0px -1px 9px 1px rgba(247,247,247,1);
}

.search-bar {
	margin-left: 10%;
	width: 50%;
}

#search-form {
	margin: auto;
	width: 50%;
}

#search-form .field {
display: inline-block;
	width: 80%;
}

input#search.form-control {
	width: 95%;
	display: inline-block;
}

#search-form .actions {
	display: inline-block;
	width: 10%;
}

#search-form > div.field.actions > input {
	background-color: #337ab7;
	color: white;
}

