// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CATEGORIES INDEX

#categories-index-container {
	width: 70%;
	margin: auto;
	margin-top: 2%;
	vertical-align: middle;
  text-align: center;
}

.categories-links {
	width: 20%;
	margin: 5% 1%;
	height: 75px;
	display: inline-block;
}

.categories-links a {
	color: #CD0809;

}

.category-icon {
	color: #CD0809;
	margin-bottom: 5%;
}


.categories-links span{
	align-self: center;
}

.headings{
	text-align: center;
	background-color:#66CBFF;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.headings h3{
	font-family: 'Indie Flower', cursive;
	color: white;
	margin-top: -10px;
}

// CATEGORIES SHOW

.column-left {
	width: 50%;
	float: left;
	text-align: center;
}

.column-right {
	width: 50%;
	float: right;
	text-align: center;
}

#category-show-container {
	text-align: center;
}

#category-show-container h1{
	margin-top: 0;
}

#posts-index-container {
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding: 5px;
	background-color: #E8E8E8;
	height: 750px;
}

#volunteer-button {
	margin-left: 75%;
	margin-bottom: 0;
}

#individual-post-listing {
	background-color: white;
	padding: 5px;
	margin: 5px;
}

#orgs-index-container {
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #E8E8E8;
	height: 750px;
}

