// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CATEGORIES INDEX

#categories-index-container {
	width: 70%;
	margin: auto;
	margin-top: 2%;
	vertical-align: middle;
  text-align: center;
}

.categories-links {
	width: 20%;
	margin: 5% 1%;
	height: 125px;
	display: inline-block;
	font-size: 1.15em;
	vertical-align: middle;
	border: 3px solid #66CBFF;
	border-radius: 10px;
	padding: 2%;
	color: #CD0809;
}

#categories-index-container a:hover {
	border-color: black;
}

.category-icon {
	color: #CD0809;
	margin-bottom: 5%;
}


.categories-links span{
	align-self: center;
}

.headings{
	text-align: center;
	background-color:#66CBFF;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.headings h3{
	font-family: 'Indie Flower', cursive;
	color: white;
	margin-top: -10px;
}

// CATEGORIES SHOW

.column-left {
	width: 50%;
	float: left;
	text-align: center;
}

.column-right {
	width: 50%;
	float: right;
	text-align: center;
}

#category-show-container {
	text-align: center;
}

#posts-index-container {
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding: 5px;
	background-color: #E8E8E8;
	height: 700px;
}

#new-post-button {
	margin: 1%;
	background-color: #CD0809;
	border: none;
}

div#new-post-button.btn.btn-info a{
	color: white;
}

#individual-post-listing {
	background-color: white;
	padding: 3px;
	margin: 10px;
	box-shadow: 2px 2px 10px #888888;
}

#individual-post-listing p{
	line-height: 1em;
}

#post-date{
	font-size: 15px;
}

#orgs-index-container {
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: #E8E8E8;
	height: 750px;
}

.errors {
	text-align: center;
	color: red;
}

p.edit-delete.category-show-page{
	display: inline-block;
	width: 30%;
}
