// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-image {

  height: 250px;
  width: 250px;
}

.user-info {
  margin-top: 10px;
  height: 500px;
  width: 500px;
  margin-left: 800px;
  text-align: center;
}

.img-circle {
  margin-left: 125px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.name{

}
