// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-container {

  border: 1px solid black;

}


#user-image {
  height: 250px;
  width: 250px;
  margin-left: -75px;


}

#user-image h3{
 margin-top: 10px;
 margin-left: -90px;
}

.user-info h3 {
  text-align: left;
  margin-top: 10px;
}

.user-info {
  width: 500px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: 10px;
  border: 1px solid black;
}

h3 a {
  text-decoration: none;
  color: white;

}

h3 a:hover {
  text-decoration: none;
  color: #CD0809
}

#update-form {
  display: none;
}





