
<h1>Services Available</h1>
<div id="categories-index-container">
	<% @categories.each do |category| %>
		<div class="categories-links" >
			<%= link_to "#{category.name.upcase}", category_path(category) %>
		</div>
	<% end %>
</div>
