
<h1>Services Available</h1>
<div class="categories-index-container">
	<% @categories.each do |category| %>
		<div class="categories-links" >
			<%= link_to "#{category.name.upcase}" %>
		</div>
	<% end %>
</div>
