<div class="headings">
<h1>Services Available</h1>
<h3>Select a type of service below to view or post a service.</h3>
</div>
<div id="categories-index-container">
	<% @categories.sort.each do |category| %>
		<a href="/categories/<%="#{category.id}"%>">
			<div class="categories-links" >
	      <img class="category-icon" src="/assets/<%=category.name.downcase.split(" ")[0]%>.png">
	      <br>
	      <span> <%= I18n.t("#{category.name.upcase}")%></span>
			</div>
		</a>
	<% end %>
</div>
