<!-- Custom CSS -->


<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 welcome-message">
                    <p class="welcome-text">Let's build a Chicago where communities have no language barriers. Let's make newcomers feel truly welcomed. We know you feel the same, so here's how you can help. </p>
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3 map">
                    <img src="/assets/map.png" alt="Chicago Map">
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row" id="star-container">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <img id="star" src="/assets/chicago-star.png"/>
                <img id="star" src="/assets/chicago-star.png"/>
                <img id="star" src="/assets/chicago-star.png"/>
                <img id="star" src="/assets/chicago-star.png"/>
            </div>
            <div class="col-sm-3">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <a href="/categories" class="home-screen-circle" >
                    <img class="img-circle img-responsive img-center" src="/assets/imageofferedservices.png" alt="Services offered">
                </a>
                    <h2 class="role-description">You embrace diversity and want to make newcomers feel welcomed to your city!</h2>
            </div>
            <div class="col-sm-4">
                <a href="/categories" class="home-screen-circle" >
                    <img class="img-circle img-responsive img-center" src="/assets/imageservicesneeded.png" alt="Services needed">
                </a>
                    <h2 class="role-description">You're new to the city and could use some advice or help.</h2>
            </div>
            <div class="col-sm-4">
                <a href="/categories" class="home-screen-circle" >
                    <img class="img-circle img-responsive img-center" src="/assets/imageservicesorganizations.png" alt="Organizations">
                </a>
                    <h2 class="role-description">You would like to see a list of agencies providing social services in Chicago.</h2>
            </div>
        </div>
        <!-- /.row -->

        <hr>




        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; NoFences 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="js/bootstrap.min.js"></script> -->

</body>

</html>
