<!-- Custom CSS -->
    <link href="index.css" rel="stylesheet">

<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 welcome-message">
                    <p class="welcome-text">Let's build a Chicago where community has no language barriers. Let's make newcomers to this city feel truly welcomed. We know you feel the same and here is how you can help. </p>
                    <p class="take-action">If you visited us before and are ready to take action you can sign in here to post services or ask for help, or scroll down for a preview of how the site works.</p>
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-3 map">
                    <img src="/assets/map.jpg" alt="Chicago Map">
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">


        <hr>

        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
               <i class="fa fa-star fa-3x"></i>
               <i class="fa fa-star fa-3x"></i>
               <i class="fa fa-star fa-3x"></i>
               <i class="fa fa-star fa-3x"></i>

            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/assets/imageofferedservices.png" alt="Services offered">
                <p class="clickhere">Click here if:</p>
                <h2 class="role-description">You embrace diversity and want to make newcomers feel welcomed to your city!</h2>

            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/assets/imageservicesneeded.png" alt="Services needed">
                <p class="clickhere">Click here if</p>
                <h2 class="role-description">You're new to the city and could use some advice or help.</h2>

            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/assets/imageservicesorganizations.png" alt="Organizations">
                <p class="clickhere">Click here if:</p>
                <h2 class="role-description">You would like to see a list of agencies providing social services in Chicago.</h2>

            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; NoFences 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
