<div class="login-container">
  <div class="row">
    <form class="form-signin mg-btm" id="login-form" action="signin">
    <h3 class="heading-desc">
    <button type="button" class="close pull-right" id="x" aria-hidden="true">×</button>Log in to NoFences</h3>
    <div class="social-box">
      <div class="row mg-btm">
        <div class="col-md-12">
          <a href="auth/facebook" class="btn btn-primary btn-block">
          <i class="icon-facebook"></i>  Login with Facebook
          </a>
        </div>
      </div>
      <div class="errors"></div>
    </div>

    <div class="main">
      <input name="session[email]" type="text" class="form-control" placeholder="Email" autofocus>
      <input name="session[password]" type="password" class="form-control" placeholder="Password">

      <span class="clearfix"></span>
    </div>
    <div class="login-footer">
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <div class="left-section">
            <%= link_to "Sign up now", new_user_path %>
          </div>
        </div>
      <div class="col-xs-6 col-md-6 pull-right">
        <button type="submit" class="btn btn-large btn-danger pull-right" id="login-submit">Login</button>
      </div>
    </div>
    </div>
    </form>
  </div>
</div>


